@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700);
@font-face {
  font-family: "codropsicons";
  src: url("https://tympanus.net/Development/IconHoverEffects/fonts/codropsicons/codropsicons.eot");
  src: url("https://tympanus.net/Development/IconHoverEffects/fonts/codropsicons/codropsicons.eot?#iefix")
      format("embedded-opentype"),
    url("https://tympanus.net/Development/IconHoverEffects/fonts/codropsicons/codropsicons.woff")
      format("woff"),
    url("https://tympanus.net/Development/IconHoverEffects/fonts/codropsicons/codropsicons.ttf")
      format("truetype"),
    url("https://tympanus.net/Development/IconHoverEffects/fonts/codropsicons/codropsicons.svg#codropsicons")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-reflect: below 0
    linear-gradient(transparent, transparent, #cc6119);
}
.loader-container .loader {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
.loader-container .loader:nth-child(1):before,
.loader-container .loader:nth-child(2):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.4));
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.loader-container .loader:nth-child(2),
.loader-container .loader:nth-child(4) {
  animation-delay: -1s;
  filter: hue-rotate(290deg);
}
.loader-container .loader i {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 20px;
  height: 20px;
  background: #00fff9;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9,
    0 0 40px #00fff9, 0 0 50px #00fff9, 0 0 60px #00fff9, 0 0 70px #00fff9,
    0 0 80px #00fff9, 0 0 90px #00fff9, 0 0 100px #00fff9;
}
.loader-container .loader span {
  position: absolute;
  inset: 25px;
  background: white;
  border-radius: 50%;
  z-index: 1;
}

.navbar-light .navbar-toggler-icon {
  background-image: 
  /* url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); */
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.hidden-toggle-button {
  background-color: #f77a27;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.offcanvas-header .btn-close {
  padding: 13px 20px !important;
  border-radius: 50px;
}

.space-after-navbar {
  padding: 20px;
}

.main-logo {
  /* max-width: 70%; */
}

.auth-menu {
  padding: 10px 1px !important;
}

.navbar-dropdown-title > * {
  padding: 10px 18px !important;
}

.navbar-dropdown-title.active > * {
  color: green !important;
}

.navbar-all-menus.active,
.auth-menu.active {
  color: green !important;
}

.navbar-sub-menus:hover {
  background-color: #cc6119;
  color: white;
}

#user-nav-dropdown,
.welcome-text {
  padding: 7px 20px;
}

#user-nav-dropdown {
  color: black;
  border: 1px solid rgb(189, 189, 189);
  /* border-radius: 10px; */
}

.welcome-text {
  color: black !important;
}

.navbar-all-menus {
  /* color: black; */
  /* border: 1px solid rgb(189, 189, 189); */
  /* border-radius: 10px; */
  margin: 0px 1px;
  padding: 10px 18px !important;
  font-weight: bolder;
  font-size: medium;
}

.navbar-dropdown-title {
  font-weight: bolder;
}

.dropdown-toggle.nav-link:hover,
.dropdown-toggle.nav-link:focus {
  /* background-color: #cc6119; */
  /* color: green !important; */
  color: #cc6119 !important;
}

.navbar-all-menus.active,
.auth-menu.active,
.navbar-sub-menus.active {
  /* color: green !important; */
  color: #cc6119 !important;
}

.login-menu,
.signup-menu {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.hidden-toggle-button {
  box-shadow: none;
  padding: 10px 25px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.navbar-all-menus:hover,
#user-nav-dropdown:hover {
  /* background-color: #cc6119; */
  /* color: green !important; */
  color: #cc6119 !important;
  cursor: copy;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-white .nav-link {
  /* color: white !important; */
}

.navbar-white .navbar-all-menus.active {
  color: #cc6119 !important;
}

.navbar-white .navbar-all-menus.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.navbar-light .navbar-all-menus.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #cc6119;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.navbar-white .navbar-all-menus:hover {
  color: #cc6119 !important;
}

.right-dropdown .dropdown-menu {
  left: auto !important;
  right: -105px !important;
}

.login-menu {
  color: #cc6119;
}

.signup-menu {
  background-color: #cc6119;
  color: white;
  border-radius: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
}

div.col-lg-10.navbar-nav {
  padding: 0px 0px 0px 0px !important;
  margin: 0px !important;
}

.navbar-menus {
  display: float;
  float: right;
}

.toggle-main-logo {
  max-width: 60% !important;
}

.btn-close {
  padding: inherit !important;
}

nav a {
  position: relative;
}

.navbar-menus-container-div a {
  color: #10649b;
  text-shadow: none;
  padding: 10px 0;
}

.navbar-menus-container-div a::before {
  color: #fff;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  content: attr(data-hover);
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.navbar-menus-container-div a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #cc6119;
  opacity: 0;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.navbar-menus-container-div a:hover::before,
.navbar-menus-container-div a:focus::before {
  opacity: 0;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}

.navbar-menus-container-div a:hover::after,
.navbar-menus-container-div a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

@media screen and (min-width: 991px) {
  .navbar-all-menus {
    padding: 10px 15px !important;
  }
}

@media (max-width: 991px) {
  .navbar-white .nav-link {
    color: black !important;
  }
}
