body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .email-main-container-div {
    text-align: center;
  }
  
  .email-container {
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url("https://www.yourdomain.com/path-to-your-image/email-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .email-footer {
    background-color: #ececec;
    padding: 10px 0px;
  }
  
  .social-media-container {
    margin: 30px 0;
  }
  
  .website-urls-integrate {
    text-align: center;
    margin: 20px 0;
  }
  
  .hr-divider {
    width: 30%;
    border: 1px solid #e87a28;
    margin: 1rem auto !important;
    opacity: 1;
  }
  