
.accordion-button, .accordion-button:focus {
  box-shadow: 4px 2px 12px 1px #e3e3e3;
}

.accordion-button:hover {
  background-color: #cc6119;
}

.accordion-button:not(.collapsed) {
  background-color: #cc6119;
  color: aliceblue;
  box-shadow: none;
}

.accordion-button::after {
  background-size: 1rem;
}

.accordion-button:hover::after, .accordion-button:focus::before, .accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}


.about-us-section-1-container {
  padding: 15px;
}

.legacy-icon {
  font-size: 40px;
  color: #cc6119;
}

.why-us-single-container {
  border: 1px solid rgb(208, 208, 208);
}

.about-us-text-col {
  padding: inherit;
  /* margin: 20px; */
}

.why-us-single-container {
  padding: 20px;
}