/* .animate-logos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.animated-img {
  width: 100px;
  height: 100px;
}

.logo1 {
  color: rgb(217, 78, 78);
}
.x1 {
  animation: x1 15.6s linear infinite alternate;
}

.y1 {
  animation: y1 13.8s linear infinite alternate;
}

@keyframes x1 {
  0% {
    transform: translateX(calc(98vw - 100px));
  }
}

@keyframes y1 {
  50% {
    transform: translateY(calc(70vh - 100px));
  }
}

.logo2 {
  color: rgb(28, 179, 96);
}
.x2 {
  animation: x2 18.6s linear infinite alternate;
}

.y2 {
  animation: y2 18.8s linear infinite alternate;
}

@keyframes x2 {
  40% {
    transform: translateX(calc(98vw - 100px));
  }
}

@keyframes y2 {
  85% {
    transform: translateY(calc(70vh - 100px));
  }
}

.logo3 {
  color: rgb(236, 77, 183);
}
.x3 {
  animation: x3 11.1s linear infinite alternate;
}

.y3 {
  animation: y3 14.2s linear infinite alternate;
}

@keyframes x3 {
  70% {
    transform: translateX(calc(98vw - 100px));
  }
}

@keyframes y3 {
  0% {
    transform: translateY(calc(70vh - 100px));
  }
}

.logo4 {
  color: rgb(210, 232, 140);
}
.x4 {
  animation: x4 19.6s linear infinite alternate;
}

.y4 {
  animation: y4 14.8s linear infinite alternate;
}

@keyframes y4 {
  90% {
    transform: translateX(calc(98vw - 100px));
  }
}

@keyframes x4 {
  98% {
    transform: translateY(calc(70vh - 100px));
  }
} */

.home-page-heading-underline {
  border: 1px solid #cc6119;
  opacity: 0.8;
  /* width: 260px; */
}
.home-page-heading-icon {
  padding: 11px;
  border-radius: 6px;
  width: 45px;
  height: 45px;
  background-color: white;
  border: 1px solid rgb(237, 235, 235);
}

.heading-icon-container-div {
  display: flex;
}

.car-movement {
  overflow: hidden;
  font-size: 40px;
  /* height: 50px; */
}

.car-movement > .car {
  position: relative;
  display: inline-block;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 15s;
}

.animated-car-banner {
  width: 70%;
  height: 100%;
}

@keyframes run {
  0% {
    transform: rotateY(180deg);
    left: -100px;
  }
  50% {
    transform: rotateY(180deg);
    left: 100%;
  }
  51% {
    transform: rotateY(0deg);
    left: calc(100% + 100px);
  }
  100% {
    transform: rotateY(0deg);
    left: -100px;
  }
}

/* Car Brands Icons CSS  */

.car-brands-slider-container {
  overflow: hidden;
  position: relative;
}

.car-brands-slider {
  display: inline-flex;
  animation: slide infinite linear 15s;
}

.car-brands-slider.paused {
  animation-play-state: paused;
}

.car-brand {
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  padding: 18px;
  color: #cc6119;
  background-color: white;
  margin: 0px 20px;
}

.brands-logo-images {
  max-width: 100px;
}

.car-brands-icons-container {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  background-color: white;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.leasing-milele-car-heading {
  background-color: rgb(66, 66, 66);
  padding: 20px;
}

.date-label,
.location-label,
.login-form-label {
  padding: 15px 1px 5px 1px;
}

.login-form-label {
  display: flex;
  align-items: center;
}

.slider-item {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.styled-label {
  color: #cc6119;
}

.search-box-container {
  /* border: 1px solid rgb(184, 184, 184); */
  border-radius: 6px;
  padding: 10px 20px;
  box-shadow: 3px 1px 9px #535353;
  background: transparent;
  margin: 10px 10px 150px 10px;
}
.search-box-container:hover {
  background-color: rgb(200, 200, 200);
  /* background-color: rgba(248, 248, 248, 0.6); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: top; */
}

.all-cars-search-box-container {
  /* border: 1px solid rgb(184, 184, 184); */
  border-radius: 6px;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 2px 1px 18px #a39f9f;
}

.total-days {
  color: #cc6119;
  font-weight: 600;
}

.booking-page-banner-navbar {
  /* background-image: url("../../images/bgImg1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  /* height: 50vh; */
}

.search-box-home-page {
  background-image: url("../../images/bgImg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-img-container,
.navbar-container {
  position: relative;
  z-index: 1;
  padding: 10px 30px 80px 30px;
}

.bg-img {
  position: absolute;
  /* height: 120vh;   */
}

@media (max-width: 767px) {
  .search-box-home-page {
    background-size: contain; /* Adjust as needed for small screens */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .search-box-home-page {
    background-size: cover; /* Adjust as needed for medium screens */
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .search-box-home-page {
    background-size: cover; /* Adjust as needed for large screens */
  }
}

.form-control-location,
.form-control-login,
.form-control-age {
  height: 45px;
  /* width: 215px; */
  border: 1px solid rgb(184, 184, 184) !important;
  border-radius: 6px;
  padding: 10px 10px;
  box-shadow: none;
  font-size: 14px;
  background-color: white !important;
}

.css-wsp0cs-MultiValueGeneric {
  padding: 0px 0px 0px 6px !important;
  color: white !important;
}

.css-1xc3v61-indicatorContainer {
  padding: 1px !important;
}

.css-1p3m7a8-multiValue {
  background-color: #cc6119 !important;
  color: white;
}

.css-3w2yfm-ValueContainer {
  padding: 4px !important;
}

.css-12a83d4-MultiValueRemove:hover{
  background-color: #df9462 !important;
  color: white !important;
  margin-left: 5px !important;
}




.css-13cymwt-control,
.css-t3ipsp-control,
.css-1nmdiq5-menu {
  border: 1px solid rgb(184, 184, 184) !important;
  line-height: 32px;
  /* margin-left: -13px; */
  /* margin-right: -14px; */
  border-radius: 6px;
}

.css-t3ipsp-control {
  box-shadow: none !important;
}

.css-t3ipsp-control:active {
  outline: none;
  border-color: none;
  box-shadow: none;
}

.css-1n6sfyn-MenuList::selection {
  background-color: white !important;
}

.css-tr4s17-option{
  background-color: #cc6119 !important;
}

.css-d7l1ni-option {
  background-color: rgb(234, 234, 234) !important;
}

.form-control-location:focus,
.form-control-login:focus,
.form-control-age:focus {
  outline: none;
}

.form-control-contact-us {
  border: 1px solid rgb(184, 184, 184) !important;
  border-radius: 6px;
  padding: 10px 10px;
  box-shadow: none;
  font-size: 14px;
  background-color: white !important;
}

.diff-dropoff-loc-lable label {
  font-weight: 600;
  color: #cc6119;
}

/* Car cards CSS  */

.offer-car-main-section {
  position: relative;
  /* height: 70vh; */
  margin: 0;
}

.offer-car-main-section {
  content: "";
  /* background-image: url("https://th.bing.com/th/id/OIP.l5yt1Xzv-BhPgCSCF3KunAAAAA?rs=1&pid=ImgDetMain"); */
  background-repeat: no-repeat;
  /* background: linear-gradient(to bottom, #e3e3e3, #e4e3e3, #e3e3e3); */
  background-size: cover;
  background-position: center;
  /* opacity: 0.3; */
  height: 100%;
  width: 100%;
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  /* z-index: -1;  */
}

.car-image-container {
  position: relative;
  height: 230px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-image {
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
  /* height: 80%; */
  /* margin: 60px 0px 10px 0px; */
}

.car-image:hover {
  cursor: pointer;
  /* color: #535353; */
  /* hh */
}

.offer-car-item {
  border: none;
  border-radius: 6px;
  box-shadow: 1px 4px 10px 3px rgba(85, 68, 68, 0.35);
  position: relative;
  /* background-color: rgb(244, 244, 244); */
  background-color: white;
}

/* .car-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background-image: url("../../images/milelercicon.ico");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
} */

.offer-heading,
.testimonial-heading {
  color: #cc6119;
  font-weight: 800;
}

.offers-car-container-row {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.offer-car-item {
  border: none;
  border-radius: 6px;
  box-shadow: 1px 4px 10px 3px rgba(85, 68, 68, 0.35);
}

.discount-container {
  text-align: center;
  margin-top: 10px;
}

.discount-line {
  width: 100%;
  padding: 0px;
  margin: px 0px;
  border: 2px solid #ba4b01;
}

.discount-percent {
  background-color: white;
  padding: 0 10px;
}

#hr-value-tag-1 {
  transform: rotate(135deg);
  width: 52px;
  position: absolute;
  border-bottom: 2px solid #cc6119;
  height: 100px;
  top: 3px;
  left: 27px;
}

#hr-value-tag-2 {
  transform: rotate(135deg);
  width: 116px;
  position: absolute;
  border-bottom: 2px solid #cc6119;
  height: 100px;
  top: 26px;
  left: 18px;
}

.tilted-car-price {
  position: absolute;
  transform: rotate(-45deg);
  top: 19px;
  left: 0px;
}

/* Animation Car Section  */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");
html {
  scroll-behavior: smooth;
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.owl-carousel .owl-stage-outer {
  overflow: visible !important;
}
.owl-carousel .owl-item.active.center .slider-card {
  /* box-shadow: 1px 1px 12px #cc6119; */
  /* border: 1px solid rgb(194, 194, 194); */
  box-shadow: 1px 1px 16px rgba(186, 186, 186, 0.8);
}

/* .owl-carousel .owl-item.active.center .slider-card:before {
  position: absolute;
  right: 80px;
  bottom: 5px;
  width: 100%;
  height: 37%;
  border-radius: 0 10% 0 0;
  z-index: -1;
  content: "";
  box-shadow: 86px 0 17px rgba(0,0,0,0.33);
  -webkit-transform: skew(-36deg);
  -moz-transform: skew(-36deg);
  -ms-transform: skew(-36deg);
  -o-transform: skew(-36deg);
  transform: skew(-36deg);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
} */

.owl-carousel .owl-item img {
  width: 80% !important;
}

.animated-car-anchor-tag {
  display: contents;
}

.animated-car-anchor-tag:hover {
  cursor: pointer;
}

.slider {
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.3);
  opacity: 1;
}
.slider-card {
  padding: 0px 0px;
  margin: 30px 5px 40px 5px;
  border-radius: 5px;
  /* box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%); */
  transform: scale(0.75);
  opacity: 0.5;
  transition: all 0.3s;
  /* border: 1px solid rgb(232, 232, 232); */
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
  box-shadow: none !important;
}
.owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 10px;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
  box-shadow: none !important;
}
/* .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-dots .owl-dot {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 4px;
  margin-right: 4px;
  outline: none !important;
} */

.owl-dots span {
  display: none !important;
}

.owl-dots .owl-dot.active {
  background: #f44336 !important;
}

.slider-card h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: #cc6119;
  font-weight: 700;
}

.slider-card {
  height: 300px;
  overflow: hidden;
}

.slider-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.slider-imgs {
  height: fit-content;
}

/* Testimonial Slider CSS */

.alice-carousel__prev-btn {
  text-align: left !important;
  width: 48% !important;
}

.alice-carousel__next-btn {
  text-align: right !important;
  width: 48.5% !important;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  font-size: 22px !important;
  padding: 5px 12px !important;
  border-radius: 5px !important;
  color: black !important;
  font-weight: 600;
  position: absolute;
  top: 45%;
}

.alice-carousel__prev-btn-item:hover,
.alice-carousel__next-btn-item:hover {
  color: #cc6119 !important;
  background-color: white !important;
  box-shadow: 1px 1px 5px #cc6119;
}

.alice-carousel__prev-btn-item:active,
.alice-carousel__next-btn-item:active {
  border: 1px solid #fcfcfc !important;
  box-shadow: 1px 1px 5px #606060;
}

.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: #cc6119 !important;
}

.alice-carousel__dots-item:not(.__custom) {
  border: 1px solid lightgrey !important;
  background-color: white !important;
  width: 12px !important;
  height: 12px !important;
}

.carousel img {
  width: 50% !important;
}

.carousel li.slide img {
  width: 90% !important;
}

.carousel li.thumb img {
  width: 98% !important;
}

.testimonial-main-dv {
  padding: 25px 25px 0px 25px;
}

.custom-dropdown-container {
  position: relative;
}

.custom-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #e1e1e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 8px;
  width: 300%;
}

.custom-dropdown button {
  display: block;
  /* width: 40%; */
  padding: 8px;
  text-align: left;
  border: none;
  cursor: pointer;
  font-size: small;
}

.btn.btn-success.pick-drop-myself-button {
  margin: 10px 0px;
  /* padding: 6px 30px; */
}

option:disabled {
  color: white !important;
  background-color: #cc6119 !important;
}

.pickup-location-col-container,
.dropoff-location-col-container {
  display: flex;
  align-items: center;
}

.pickup-location-text,
.dropoff-location-text {
  margin-top: 9px;
  padding: 10px;
  border: 1px solid rgb(197, 197, 197);
}

.alice-carousel__prev-btn {
  margin-left: -25px;
}

.alice-carousel__next-btn {
  margin-left: 40px;
}

@media screen and (max-width: 576px) {
  .custom-dropdown {
    width: 100%;
  }
  .submit-button {
    margin-top: 15px;
  }
  .pickup-locations-button-col,
  .dropoff-locations-button-col {
    display: inline !important;
  }
  .alice-carousel__prev-btn {
    margin-left: -10px;
  }

  .alice-carousel__next-btn {
    margin-left: -7px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .custom-dropdown {
    width: 209%;
  }
  .submit-button {
    margin-top: 15px;
  }
  .alice-carousel__prev-btn {
    margin-left: -20px;
  }

  .alice-carousel__next-btn {
    margin-left: 35px;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .custom-dropdown {
    width: 284%;
  }
  .alice-carousel__prev-btn {
    margin-left: -20px;
  }

  .alice-carousel__next-btn {
    margin-left: 30px;
  }
}

@media screen and (max-width: 576px) {
  .slider-card {
    padding: 5px 50px 0px 50px;
  }
  .alice-carousel__next-btn {
    text-align: right !important;
    width: 85% !important;
  }
}

@media screen and (max-width: 425px) {
  .car-image-container {
    height: 160px;
  }
}

@media screen and (max-width: 991px) {
  .alice-carousel__next-btn {
    text-align: right !important;
    width: 93% !important;
  }
}
