.instagram-feed-div {
  display: flex;
  flex-wrap: wrap;
}

.insta-feed-template-div {
  padding: 0px 5px !important;
  margin-bottom: -12%;
}

.instagram-feed-div .col-lg-3.col-md-4.col-sm-6.col-12 {
  padding: 5px !important;
}

.instagram-feed-div a img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .insta-feed-template-div {
    padding: 0px 5px !important;
    margin-bottom: -15%;
  }

  .instagram-feed-div {
    padding-bottom: 40px;
  }
}
