.client-logo-area .section-title-two {
  text-align: center;
  max-width: 550px;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
  z-index: 5;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .client-logo-area .section-title-two {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .client-logo-area .section-title-two {
    margin-bottom: 35px;
  }
}
.client-logo-area .section-title-two span {
  text-transform: capitalize;
  color: var(--white);
  background: #cc6119;
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 4px;
}
.client-logo-area .section-title-two h2 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .client-logo-area .section-title-two h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 767px) {
  .client-logo-area .section-title-two h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}
.client-logo-area .section-title-two p {
  color: var(--dark-3);
}

.client-logo-one {
  padding-top: 20px;
  padding-bottom: 10px;
}
.client-logo-one .single-client {
  margin-top: 30px;
}

.one-testimonial-main-div {
  background-color: white;
  padding: inherit;
  transition: transform 0.3s ease;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.one-testimonial-main-div:hover {
  cursor: text;
  transform: scale(0.94);
}

button.animated-search-button,
button.animated-button {
  overflow: hidden;
}

.gradient {
  /* position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em; */
}

.label {
  position: relative;
  top: -1px;
  font-size: 15px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 1000ms;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  background-color: white;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}

.animated-button {
  border: none;
  font-size: 14px;
  color: white;
  background-color: #d35400;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  animation: pulse 2s ease-in-out infinite;
  padding: 13px 20px;
  border: 1px solid #d35400;
}

.animated-search-button {
  border: none;
  font-size: 14px;
  color: white;
  background-color: #d35400;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  animation: pulse 2s ease-in-out infinite;
  padding: 13px 16px;
  border: 1px solid #d35400;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }
}

.animated-button:hover,
.animated-search-button:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  color: #cc6119 !important;
  opacity: 1;
  border: 1px solid rgb(207, 207, 207);
}

.button-text-span {
  /* padding: 0px 10px; */
}

.pay-now-price-xs {
  display: none;
}

.animated-text h2 {
  overflow: hidden;
  border-right: 0.1em solid #cc6119;
  white-space: nowrap;
  margin: 0 auto;
  animation: text 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.client-logo-area .section-title-two .content.in-view .animated-text h2 {
  animation: text 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes text {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #cc6119;
  }
}

@media screen and (max-width: 375px) {
  .animated-button {
    font-size: 12px;
    padding: 5px 30px;
  }

  .label {
    font-size: 14px;
  }

  .pay-now-price-xs {
    display: block;
  }

  .pay-now-price-md-lg {
    display: none;
  }
}
