.pickup-option-menus,
.dropoff-option-menus {
  background-color: white;
  padding: 5px 0px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
}

.pickup-loc-option,
.dropoff-loc-option {
  box-shadow: 2px 3px 5px 3px #dadada;
}

.deliver-to-me-text,
.pickup-text,
.dropoff-text {
  font-size: small;
  padding: 5px 10px;
  font-weight: 500;
}

ul.deliver-to-me-loc-list li,
ul.pickup-loc-list li,
ul.dropoff-loc-list li {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 10px;
}

ul.deliver-to-me-loc-list li:last-child,
ul.pickup-loc-list li:last-child,
ul.dropoff-loc-list li:last-child {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul.deliver-to-me-loc-list,
ul.pickup-loc-list,
ul.dropoff-loc-list {
  border-top: 1px solid rgb(182, 182, 182);
  border-left: 1px solid rgb(182, 182, 182);
  border-right: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
}

ul.deliver-to-me-loc-list li.active,
ul.pickup-loc-list li.active,
ul.dropoff-loc-list li.active {
  background-color: #e67931;
  cursor: pointer;
  color: white;
  transition: transform 0.5s ease-in-out !important;
}

ul.deliver-to-me-loc-list li:hover,
ul.pickup-loc-list li:hover,
ul.dropoff-loc-list li:hover {
  background-color: #e67931;
  cursor: pointer;
  color: white;
  transition: transform 0.5s ease-in-out !important;
}

ul.deliver-to-me-loc-list li:last-child.active,
ul.pickup-loc-list li:last-child.active,
ul.dropoff-loc-list li:last-child.active,
ul.deliver-to-me-loc-list li:last-child:hover,
ul.pickup-loc-list li:last-child:hover,
ul.dropoff-loc-list li:last-child:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul.deliver-to-me-loc-list li:first-child.active,
ul.pickup-loc-list li:first-child.active,
ul.dropoff-loc-list li:first-child.active,
ul.deliver-to-me-loc-list li:first-child:hover,
ul.pickup-loc-list li:first-child:hover,
ul.dropoff-loc-list li:first-child:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.deliver-me-selected,
.pickup-selected,
.dropoff-selected {
  background-color: #e87a28;
  border-radius: 20px;
  color: white;
}

.pickup-not-selected,
.dropoff-not-selected,
.deliver-me-not-selected {
  background-color: transparent;
  border-radius: 20px;
  color: black;
}

.pickup-not-selected:hover,
.dropoff-not-selected:hover,
.deliver-me-not-selected:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition: transform 0.4s ease-in-out !important;
}

.pickup-selected:hover,
.dropoff-selected:hover,
.deliver-me-selected:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition: transform 0.4s ease-in-out !important;
}

.deliver-to-me-single-list,
.pickup-single-list,
.dropoff-single-list {
  padding-top: 12px;
}

.pickup-single-list.active,
.dropoff-single-list.active,
.deliver-to-me-single-list.active {
  color: rgb(188, 85, 22);
  font-weight: 600;
  box-shadow: 0px 0px 6px 0px #e87a28;
}

.deliver-map,
.pick-map {
  border: 1px solid rgb(202, 202, 202);
  padding: 10px;
}

@media screen and (max-width: 991px) {
  .deliver-map,
  .pick-map {
    padding: 15px;
  }
}

@media screen and (max-width: 576px) {
  .deliver-map,
  .pick-map {
    display: none;
  }
  .rent-button-in-map {
    margin-top: 20px;
  }
}
