@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@800&display=swap");

.App {
  background-color: #e5e5f7;
  background-image: radial-gradient(
      #cc6119 0.7000000000000001px,
      transparent 0.7000000000000001px
    ),
    radial-gradient(#cc6119 0.7000000000000001px, #e9e9e9 0.7000000000000001px);
  background-size: 68px 68px;
  background-position: 0 0, 14px 14px;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


.top-page-horizontal-line {
  padding: 4px;
  background-color: #cc6119;
  text-align: center;
  word-spacing: 1px;
}

.tag-line-heading-home-page {
  background-color: #cc6119;
  text-align: center;
}
.tag-line-heading-text {
  color: white;
  font-size: 60px;
  font-weight: 900;
  /* line-height: 70px; */
  padding: 20px 0px;
}

.top-horizontal-line-text {
  font-size: 12px;
  color: white;
  font-weight: bold;
  line-height: 2px;
}

img:hover {
  transform: scale(0.95);
  transition: transform 0.6s ease;
}

.booking-details-container {
  background-color: #dedede;
}

.booking-price-evaluation {
  margin: auto;
  padding: 15px;
  background-color: white;
  border-radius: 6px;
}

.booking-price-evaluation-main-div {
  margin: 10px 0px 5px 0px;
  padding: 15px 15px 15px 5px;
}

.form-control {
  height: 25px;
  /* width: 210px !important; */
  border: none;
  border-radius: 0;
  font-weight: 800;
  padding: 0 0 5px 0;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  margin: 0;
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
}

.form-control-date {
  height: 45px;
  /* width: 215px; */
  border: 1px solid rgb(184, 184, 184) !important;
  border-radius: 6px;
  padding: 10px 10px;
  box-shadow: none;
  font-size: 14px;
  background-color: white !important;
}

.additional-comments {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
}

.form-control2 {
  font-size: 14px;
  height: 20px;
  width: 55px;
  border: none;
  border-radius: 0;
  font-weight: 800;
  padding: 0 0 5px 0;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  margin: 0;
}

.form-control2:focus {
  box-shadow: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
}

.form-control3 {
  font-size: 14px;
  height: 20px;
  width: 30px;
  border: none;
  border-radius: 0;
  font-weight: 800;
  padding: 0 0 5px 0;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  margin: 0;
}

.form-control3:focus {
  box-shadow: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
}

.form-control-payment {
  width: 100% !important;
}

.col-12.p-5 img {
  width: 80%;
  height: 100%;
  object-fit: fill;
}

.text-muted {
  font-size: 12px;
  font-weight: bold;
}

.textmuted {
  color: #6c757d;
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.btn.btn-primary {
  width: 100%;
  padding: 14px 0;
  /* color: #cc6119; */
  /* background-color: white; */
  font-weight: 400;
  /* color: black; */
  box-shadow: none;
  border-radius: 25px;
  transition: all 1s;
  overflow: hidden;
  /* box-shadow: 1px 1px 6px #be633c; */
  border: none;
  font-weight: 600;
  /* border: 1px solid #cc6119; */

  /* content: ""; */
  /* display: block; */
  /* width: 50px; */
  /* height: 50px; */
  /* transform: translate(-50%, -50%); */
  /* position: absolute; */
  /* border-radius: 50%; */
  /* z-index: -1; */
  background-color: #cc6119;
  transition: 1s ease;
}

.btn.btn-primary:active {
  background-color: white !important;
  color: white !important;
  border-color: #cc6119 !important;
  box-shadow: 2px 6px 14px #be633c !important;
}

/* .btn.btn-primary:hover {
  background-color: white;
  color: #cc6119;
  border-color: #cc6119 !important;
  border: 1px solid #cc6119;
  box-shadow: 2px 6px 14px #be633c;
  font-weight: bold;
} */

.btn.btn-primary:hover {
  color: black !important;
  background-color: white;
  border: 1px solid rgb(220, 220, 220);

}
.btn.btn-primary::before,
.btn.btn-primary::after {
  /* content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #cc6119;
  transition: 1s ease; */
}

.btn.btn-primary:active {
  background-color: #cc6119 !important;
}

.btn.btn-primary::before {
  top: -1em;
  left: -1em;
}

.btn.btn-primary::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.btn.btn-primary:hover::before,
.btn.btn-primary:hover::after {
  height: 410px;
  width: 410px;
}

.btn.btn-primary:hover {
  color: white;
}

.btn.btn-primary:active {
  filter: brightness(0.9);
}

.fw-900 {
  font-weight: 900;
}

::placeholder {
  font-size: 12px;
}

.ps-30 {
  padding-left: 30px;
}

.payment-text {
  margin: 15px 0px;
}

.space-after-navbar {
  padding: 20px;
}

.main-logo {
  max-width: 100%;
}

.navbar-all-menus.active {
  /* background-color: #cc6119 !important; */
  /* color: #cc6119 !important; */
  color: #cc6119 !important;
}

#user-nav-dropdown,
.welcome-text {
  padding: 7px 20px;
}

#user-nav-dropdown {
  color: black;
  border: 1px solid rgb(189, 189, 189);
  /* border-radius: 10px; */
}

.welcome-text {
  color: black !important;
}

.navbar-all-menus {
  color: black;
  /* border: 1px solid rgb(189, 189, 189); */
  /* border-radius: 10px; */
  margin: 0px 1px;
  padding: 10px 20px !important;
  font-weight: bolder;
}
.login-menu,
.signup-menu {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.hidden-toggle-button {
  box-shadow: none;
}

.navbar-all-menus:hover,
#user-nav-dropdown:hover {
  /* background-color: #cc6119; */
  color: #cc6119 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
}

.right-dropdown .dropdown-menu {
  left: auto !important;
  right: -105px !important;
}

.login-menu {
  color: #cc6119;
}

.signup-menu {
  background-color: #cc6119;
  color: white;
  border-radius: 6px;
  padding-top: 3px;
  padding-bottom: 4px;
}

div.col-lg-10.navbar-nav {
  padding: 0px 0px 0px 0px !important;
  margin: 0px !important;
}

.navbar-menus {
  display: float;
  float: right;
}

.navbar-menus-main-container {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 576px) and (max-width: 991px) {
  .main-logo {
    max-width: 40%;
  }
}

@media (max-width: 991px) {
  .navbar-menus-main-container {
    display: flex;
    justify-content: center !important;
  }

  .vertical-line {
    display: none !important;
  }

  .horizontal-line {
    border-top: 1px solid #ccc;
    margin: 5px 0;
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 1400px) {
}
