.crsl {
  /* width: 1100px; */
  margin: auto;
}

.vehicelDetail-main-container {
  padding-top: 16px;
}

.vehiclePage-container {
  background-color: rgb(237, 237, 237);
}
.csontainer {
  padding: 0px !important;
}

.price-day-main-div {
  padding: 0px 10px;
}

.carousel-container {
  max-width: 100%;
  overflow: hidden;
}

.booking-wishlist-button {
  margin-top: 20px;
  text-align: center;
}

.btn.btn-primary {
  border-radius: 30px;
  border: 1px solid white;
}

.btn.btn-primary:focus {
  background-color: white !important;
  color: #cc6119 !important;
  border: 1px solid #cc6119 !important;
  box-shadow: none !important;
}

.btn.btn-primary:hover {
  background-color: white;
  color: #cc6119;
  border: 1px solid #cc6119;
}

.stm-icon-whatsapp {
  padding-right: 20px;
}
.whatsapp-container {
  border-radius: 5px;
}

.whatsapp-container:hover {
  background-color: white;
}

.price-row,
.total-price-row, .coupon-main-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.price-label, .coupon-label {
  font-weight: 500;
}

.price-value {
  color: #cc6119;
  float: right !important;
}
.price-booking-button-div {
  margin-top: 50px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 6px;
  padding-bottom: 20px;
}

/* Pagination */

.pagination-container {
  display: flex;
  list-style-type: none;
}

.pagination-item {
  padding: 0 20px;
  height: 36px;
  text-align: center;
  margin: auto 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 6px;
  line-height: 1.43;
  font-size: 14px;
  min-width: 32px;
}

.pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}

.pagination-item:hover {
  background-color: #f18740;
  color: white;
  cursor: pointer;
}

.pagination-item.selected {
  background-color: #cc6119;
  color: white;
}

.pagination-item .arrow::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid white;
  border-top: 0.12em solid white;
}

.pagination-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}

.pagination-item .arrow.right {
  transform: rotate(45deg);
}

.pagination-item.disabled {
  pointer-events: none;
}

.pagination-item.disabled .arrow::before {
  border-right: 0.12em solid white;
  border-top: 0.12em solid white;
}

.pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination-item.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid rgb(210, 210, 210);
  /* background-color: #cc6119; */
  background-color: rgb(140, 140, 140);
}

.pagination-item.last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(210, 210, 210);
  /* background-color: #cc6119; */
  background-color: rgb(140, 140, 140);
}

.pagination-item.first:hover {
  background-color: #f18740;
}

.pagination-item.last:hover {
  background-color: #f18740;
}

.all-cars-details {
  padding: 2px;
}

.one-car-card {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 15px 10px;
  margin: 15px 1px;
  background-color: white;
  /* box-shadow: 8px 8px 4px #eadcd4; */
}

.rating-div,
.car-title-div {
  color: "#cc6119";
  padding: 12px 10px 4px 10px;
}

.vehicle-img-tag img {
  border-radius: 20px;
}

.price-day-div {
  padding: 4px 8px;
  border-radius: 10px;
}

div.col-lg-4.col-md-4 {
  padding: 0px 8px;
}

.all-cars-img-div {
  display: flex;
  justify-content: center;
}

img.all-cars-img {
  width: 330px;
  height: 320px;
}

.car-detail-price-main-div {
  padding: 50px 0px 30px 10px;
}

.booking-button {
  background-color: rgb(90, 201, 211) !important;
}

.booking-button:hover {
  background-color: white !important;
  color: black !important;
}

.features-icon-detailPage {
  max-width: 50%;
}

span.select2-selection_arrow b {
  display: contents !important;
}

.select2-container .select2-selection--single {
  height: 39px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow { 
  height: 40px !important;
}

.min-max-price-hypen {
  display: flex;
  align-items: center;
  justify-content: center;
}

#formMinMaxPrice {
  width: 100% !important;
}

.all-cars-section {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 6px;
  padding: 10px 20px;
  background-color: rgb(231, 231, 231);
}

.all-offer-cars {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  background-color: white;
}


#hr-value-allcars-1 {
  transform: rotate(135deg);
  width: 45px;
  position: absolute;
  border-bottom: 2px solid #cc6119;
  height: 64px;
  top: 6px;
  left: 27px;
}

#hr-value-allcars-2 {
  transform: rotate(135deg);
  width: 101px;
  position: absolute;
  border-bottom: 2px solid #cc6119;
  height: 59px;
  top: 27px;
  left: 18px;
}

.offer-car-price {
  position: absolute;
  transform: rotate(-45deg);
  top: 16px;
  left: 7px;
}

.sort-by-dropdown {
  display: flex;
  flex-direction: row-reverse
}

.car-name-div {
  display: flex;
    flex-direction: row-reverse;
}


@media screen and (max-width: 575px) {
  .pay-now-value {
    font-size: 14px;
  }
}