.crsl {
  /* width: 1100px; */
  margin: auto;
}

.vehicelDetail-main-container {
  padding-top: 16px;
}

.vehiclePage-container {
  background-color: rgb(237, 237, 237);
}
.csontainer {
  padding: 0px !important;
}

.price-day-main-div {
  padding: 0px 10px;
}

.carousel-container {
  max-width: 100%;
  /* overflow: hidden; */
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: none !important;
}

.carousel .control-dots {
  display: none !important;
}

.booking-wishlist-button {
  margin-top: 20px;
  text-align: center;
}

.stm-icon-whatsapp {
  padding-right: 20px;
}
.whatsapp-container {
  border-radius: 5px;
}

.whatsapp-container:hover {
  background-color: white;
}

.price-row,
.total-price-row,
.coupon-main-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.price-label,
.coupon-label {
  font-weight: 500;
}

.price-value {
  color: #cc6119;
  float: right !important;
}
.price-booking-button-div {
  margin-top: 50px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 6px;
  padding-bottom: 20px;
}

/* Pagination */

.pagination-container {
  display: flex;
  list-style-type: none;
}

.pagination-item {
  padding: 0 20px;
  height: 45px;
  text-align: center;
  margin: auto 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 50px;
  line-height: 1.43;
  font-size: 14px;
  min-width: 32px;
  border-right: 0.12em solid white;
  border-top: 0.12em solid white;
  box-shadow: 1px 0px 3px #cc6119;
}

.pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}

.pagination-item:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.pagination-item.selected {
  background-color: #cc6119;
  color: white;
  box-shadow: none;
}

.pagination-item .arrow::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgb(0, 0, 0);
  border-top: 0.12em solid rgb(0, 0, 0);
}

.pagination-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}

.pagination-item .arrow.right {
  transform: rotate(45deg);
}

.pagination-item.disabled {
  pointer-events: none;
  border-right: 0.12em solid white !important;
  border-top: 0.12em solid white !important;
}

.pagination-item.disabled .arrow::before {
  border-right: 0.12em solid rgb(169, 169, 169);
  border-top: 0.12em solid rgb(169, 169, 169);
}

.pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination-item.first {
  box-shadow: none;
}

.pagination-item.last {
  box-shadow: none;
}

.all-cars-details {
  padding: 2px;
}

.one-car-card {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 15px 10px;
  margin: 15px 1px;
  background-color: white;
  /* box-shadow: 8px 8px 4px #eadcd4; */
}

.rating-div,
.car-title-div {
  color: "#cc6119";
  padding: 12px 10px 4px 10px;
}

.vehicle-img-tag img {
  border-radius: 20px;
}

.price-day-div {
  padding: 4px 8px;
  border-radius: 10px;
}

div.col-lg-4.col-md-4 {
  padding: 0px 8px;
}

.all-cars-img-div {
  display: flex;
  justify-content: center;
}

img.all-cars-img {
  width: 330px;
  height: 320px;
}

.car-detail-price-main-div {
  padding: 50px 0px 30px 10px;
}

.booking-button {
  background-color: rgb(90, 201, 211) !important;
}

.booking-button:hover {
  background-color: white !important;
  color: black !important;
}

.features-icon-detailPage {
  max-width: 50%;
}

span.select2-selection_arrow b {
  display: contents !important;
}

.select2-container .select2-selection--single {
  height: 45px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 43px !important;
  padding: 0px 19px !important;
  font-size: 13px;
  color: #1c1c1c !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 47px !important;
}

.select2-container .select2-selection--multiple {
  min-height: 40px !important;
}
.select2-selection--multiple {
  padding: 8px;
}

.car-model-label {
  margin-bottom: 2px;
}

.select2-container .select2-search--inline .select2-search__field {
  /* padding: 4px !important; */
  height: 20px !important;
  margin-top: 1px !important;
}

.min-max-price-hypen {
  display: flex;
  align-items: center;
  justify-content: center;
}

#formMinMaxPrice {
  width: 100% !important;
}

.all-cars-section {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 6px;
  padding: 10px 20px;
  background-color: rgb(231, 231, 231);
}

.all-offer-cars {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  background-color: white;
}

#hr-value-allcars-1 {
  transform: rotate(135deg);
  width: 45px;
  position: absolute;
  border-bottom: 2px solid #cc6119;
  height: 64px;
  top: 6px;
  left: 27px;
}

#hr-value-allcars-2 {
  transform: rotate(135deg);
  width: 101px;
  position: absolute;
  border-bottom: 2px solid #cc6119;
  height: 59px;
  top: 27px;
  left: 18px;
}

.offer-car-price {
  position: absolute;
  transform: rotate(-45deg);
  top: 16px;
  left: 7px;
}

.car-name-div {
  display: flex;
  flex-direction: row-reverse;
}

.filters-main-container {
  padding: 5px 5px 20px 5px;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  background-color: #eeeeee;
}

.filters-section {
  padding: 5px 5px 20px 5px;
  /* border: 1px solid #e1e1e1; */
  border-radius: 6px;
  /* background-color: white; */
  height: fit-content;
}

.filters-heading {
  color: #cc6119;
  font-weight: 500;
  padding-top: 6px;
}

.all-cars-heading {
  color: #cc6119;
  font-weight: 600;
  text-align: center;
}

.search-filters-card {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 0px;
}

.car-features-vertical-line {
  color: #d0d0d0;
}

@media screen and (max-width: 575px) {
  .pay-now-value {
    font-size: 14px;
  }
}
