.elementor-3104
  .elementor-element.elementor-element-fd15043
  > .elementor-container {
  min-height: 312px;
}
.elementor-3104
  .elementor-element.elementor-element-fd15043:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-3104
  .elementor-element.elementor-element-fd15043
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2015/09/second-parallax-block-1-1.jpg");
  background-position: 0px -178px;
}
.elementor-3104 .elementor-element.elementor-element-fd15043 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 350px;
}
.elementor-3104
  .elementor-element.elementor-element-fd15043
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3104
  .elementor-element.elementor-element-5cab879
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-3104 .elementor-element.elementor-element-0bb7e84 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-3104
  .elementor-element.elementor-element-0bb7e84
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3104
  .elementor-element.elementor-element-1f1eb0f
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-3104
  .elementor-element.elementor-element-1f1eb0f
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3104 .elementor-element.elementor-element-ae22989 {
  box-shadow: 0px 6px 15px -7px rgba(0, 0, 0, 0.5);
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
  top: 0px;
}
.elementor-3104
  .elementor-element.elementor-element-ae22989
  .stm-elementor-contact-form-seven
  .icon-title
  i {
  font-size: 27px;
}
.elementor-3104
  .elementor-element.elementor-element-ae22989
  .stm-elementor-contact-form-seven
  .icon-title
  svg {
  width: 27px;
  height: 27px;
}
.elementor-3104
  .elementor-element.elementor-element-ae22989
  .stm-elementor-contact-form-seven
  .icon-title
  .title {
  color: #232628;
}
.elementor-3104
  .elementor-element.elementor-element-ae22989
  > .elementor-widget-container {
  padding: 60px 90px 10px 90px;
  background-color: #ffffff;
}
body:not(.rtl) .elementor-3104 .elementor-element.elementor-element-ae22989 {
  left: 0px;
}
body.rtl .elementor-3104 .elementor-element.elementor-element-ae22989 {
  right: 0px;
}
.elementor-3104
  .elementor-element.elementor-element-51b8b43
  > .elementor-container {
  text-align: left;
}
.elementor-3104 .elementor-element.elementor-element-51b8b43 {
  margin-top: 0px;
  margin-bottom: 40px;
}
.elementor-3104
  .elementor-element.elementor-element-11ee9bf
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .contact-tabs-containers-wrap
  .tab-unit
  .icon
  i {
  font-size: 31px;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .contact-tabs-containers-wrap
  .tab-unit
  .icon
  svg {
  width: 31px;
  height: 31px;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .elementor-contact-tabs-container
  ul.elementor-contact-tabs-list {
  background-color: #121e24;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .elementor-contact-tabs-container
  ul.elementor-contact-tabs-list
  .elementor-contact-tab.active
  .tab-item {
  background-color: #fff;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .elementor-contact-tabs-container
  ul.elementor-contact-tabs-list
  .elementor-contact-tab.active
  .tab-item
  span {
  color: #121e24;
}

.elementor-contact-title-text {
  color: #cc6119 !important;
}

.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .elementor-contact-tabs-container
  ul.elementor-contact-tabs-list
  .elementor-contact-tab:not(.active)
  .tab-item {
  background-color: #121e24;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .elementor-contact-tabs-container
  ul.elementor-contact-tabs-list
  .elementor-contact-tab:not(.active)
  .tab-item
  span {
  color: #fff;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .stm-elementor-contact-tabs
  .contact-tabs-containers-wrap {
  background-color: #fff;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .elementor-contact-panels-container
  .tab-unit
  .icon
  i {
  color: #cc6119;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .elementor-contact-panels-container
  .tab-unit
  .icon
  svg {
  fill: #cc6119;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .elementor-contact-panels-container
  .tab-unit
  .text
  .title {
  color: #232628;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .elementor-contact-panels-container
  .tab-unit
  .text
  .content {
  color: #888;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  .elementor-contact-tabs
  .elementor-contact-tabs-container
  .elementor-contact-tabs-list
  .elementor-contact-tab
  span.tab-item
  .elementor-contact-title-text {
  font-family: "Montserrat", Sans-serif;
}
.elementor-3104
  .elementor-element.elementor-element-4d970ae
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-3104
  .elementor-element.elementor-element-c583530
  > .elementor-element-populated {
  padding: 0px 0px 0px 25px;
}
.elementor-3104
  .elementor-element.elementor-element-c970e75
  .stm-elementor-google-map {
  width: 100%;
  height: 400px;
}
@media (max-width: 1024px) {
  .elementor-3104
    .elementor-element.elementor-element-fd15043:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-3104
    .elementor-element.elementor-element-fd15043
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px -200px;
  }
  .elementor-3104
    .elementor-element.elementor-element-ae22989
    > .elementor-widget-container {
    padding: 30px 20px 10px 20px;
  }
  .elementor-3104
    .elementor-element.elementor-element-c583530
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-3104
    .elementor-element.elementor-element-fd15043:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-3104
    .elementor-element.elementor-element-fd15043
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: -700px -397px;
  }
  .elementor-3104 .elementor-element.elementor-element-fd15043 {
    margin-top: 0px;
    margin-bottom: 750px;
  }
  .elementor-3104
    .elementor-element.elementor-element-ae22989
    > .elementor-widget-container {
    padding: 20px 20px 20px 20px;
  }
}
@media (min-width: 768px) {
  .elementor-3104 .elementor-element.elementor-element-5cab879 {
    width: 100%;
  }
  .elementor-3104 .elementor-element.elementor-element-1f1eb0f {
    width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-3104 .elementor-element.elementor-element-11ee9bf {
    width: 100%;
  }
  .elementor-3104 .elementor-element.elementor-element-c583530 {
    width: 100%;
  }
}
